.SideBer
  .LeftHeader
    .LeftHeader__List
      %h3.LeftHeader__UserName
        ユーザー名
      %ul.LeftHeader__IconList
        %li.LeftHeader__Icon
        = link_to '#' do
          = icon('fas', 'edit')
        %li.LeftHeader__Icon
        = link_to '#' do
          = icon('fas' , 'cog')

  .GroupList
    .Group
      = link_to '#' do
        .Group__name
          グループ名
        .Group__message
          最新のメッセージ
  
